
# Databases
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal
db-backups/

# Node
node_modules

# Dynamic resources
static/images/
image/

# Fonts
static/fonts/*

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
*.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# pm2
ecosystem.config.*

# python
venv/
__pycache__/
